@font-face {
    font-family: 'Exo 2';
    src: url(../fonts/Exo2/Exo2-Medium.ttf);

}


.exo2-font {
    font-family: 'Exo 2';
}

.padding-top-20 {
    padding-top: 20px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-bottom-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-top-bottom-7 {
    margin: 7px 0;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-left-5 {
    margin-left: 5px;
}

.widht-120 {
    width: 120px;
}

@media(max-width: 767px) {
    .left-if-small {
        text-align: left !important;
    }
}

.textarea-maxwidth {
    max-width: 1140px;
}

.back-arrow-glyph {
    color: #337AB7;
    vertical-align: text-top;
}

table.ng-table > tbody > tr {
    cursor: pointer;
}

.table > thead > tr > th {
    vertical-align: middle;
}

table.ng-table > tbody > tr:hover {
    background-color: #e8e8e8 !important;
    /*border: 2px solid black;*/
}

table.center-cells {
    width: 100%;
}

    table.center-cells > tbody > tr > td:last-of-type {
        text-align: right;
    }

    table.center-cells > tbody > tr > td:nth-child(2) {
        text-align: center;
    }

.overdue {
    background-color: rgb(255, 194, 194);
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 60%,rgba(255,96,99,1) 99%);
}

.comment-container {
    padding: 13px;
    background-color: #F3F3F3;
    margin: 10px 0px;
}

.comment-author {
    display: inline-block;
    font-weight: bold;
    font-style: italic;
}

.comment-date {
    display: inline-block;
    font-style: italic;
    font-size: 9pt;
    color: darkgray;
}

.no-comments {
    display: block;
    text-align: center;
    font-style: italic;
}

.right-button {
    text-align: right;
    margin-top: 10px;
}

.login-box {
    
}

.login-form {
    width: 300px;
    display: inline-block;
}


.login-form-button {
    margin: 15px 3px 15px 3px;
    width: 130px;
}

.title-logo {
    background: url(../Content/images/title-logo.png) 50% 50% no-repeat;
    width: 400px;
    height: 190px;
    margin: auto;
}

.alert {
    margin-bottom: 0;
    padding: 5px;
}

.login-view:before {
    background: url(images/back_1.jpg) no-repeat center center fixed;
    margin-top: -50px;
}

.exchange-view:before {
    background: url(images/currencies_back.jpg) no-repeat center center fixed;
}

.blur-background:before {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
    content: "";
}

.blur-background {
    z-index: 0;
    display: block;
    height: 100%;
    width: 100%;
}

.exchange-box {
    background: rgba(255,255,255,0.8);
    padding: 45px;
    margin: 65px;
    border-radius: 20px;
    text-align: center;
}

@media(max-width: 1200px) {
    .exchange-box {
        margin-left: 0;
        margin-right: 0;
    }
}

@media(max-width: 990px) {
    .exchange-datepicker-block {
        width: 100%;
        text-align: center;
    }
    .exchange-datepicker {
        display: inline-block;
        margin-top: 25px;
    }
}

.exchange-table {
    text-align: left;
    font-size: 14pt;
}

.exchange-table > tbody > tr > td {
    padding: 10px;
}

.task-status-image {
    width: 35px;
    display: table-cell;
    height: 35px;
}

.accepted-image {
    background: url(../Content/images/sender-ok.png) no-repeat center center;
    background-size: contain;
}

.complete-image {
    background: url(../Content/images/recipient-ok.png) no-repeat center center;
    background-size: contain;
}

.inline-block {
    display: inline-block;
}

.task-text {
    display: table-cell;
    vertical-align: middle;
}

.task-box {
    border-spacing: 15px 0;
    margin: 0 -15px;
}

.login-inline-textbox {
    width: 148px;
    display: inline-block;
}