.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-bottom-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-top-bottom-7 {
    margin: 7px 0;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.widht-120 {
    width: 120px;
}

@media(max-width: 767px) {
    .left-if-small {
        text-align: left !important;
    }
}

.textarea-maxwidth {
    max-width: 1140px;
}

.back-arrow-glyph {
    color: #337AB7;
    vertical-align: text-top;
}

table.ng-table > tbody > tr {
    cursor: pointer;
}

.table > thead > tr > th {
    vertical-align: middle;
}

table.ng-table > tbody > tr:hover {
    background-color: #e8e8e8 !important;
    /*border: 2px solid black;*/
}

table.center-cells {
    width: 100%;
}

    table.center-cells > tbody > tr > td:last-of-type {
        text-align: right;
    }

    table.center-cells > tbody > tr > td:nth-child(2) {
        text-align: center;
    }

.overdue {
    background-color: rgb(255, 194, 194);
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 60%,rgba(255,96,99,1) 99%);
}

.comment-container {
    padding: 13px;
    background-color: #F3F3F3;
    margin: 10px 0px;
}

.comment-author {
    display: inline-block;
    font-weight: bold;
    font-style: italic;
}

.comment-date {
    display: inline-block;
    font-style: italic;
    font-size: 9pt;
    color: darkgray;
}

.no-comments {
    display: block;
    text-align: center;
    font-style: italic;
}

.right-button {
    text-align: right;
    margin-top: 10px;
}
