<div class="login-view">
    <div class="login-box">
        <div class="title-logo"></div>
        <div class="login-form">
            <form ng-submit="login();" class="form-group">
                <input class="form-control margin-top-25" ng-model="loginData.username" placeholder="Логин" />
                <input class="form-control margin-top-15" type="password" ng-model="loginData.password" placeholder="Пароль" />
                <div ng-hide="message=='' || loading" class="alert alert-danger margin-top-15">{{message}}</div>

                <button type="submit" ng-disabled="loading" class="btn btn-primary login-button">Вход</button>
            </form>
        </div>
    </div>
</div>