<div class="blur-background login-view">
    <div class="container">
        <flipper horizontal flipped="flipped">
            <front>
                <div class="title-logo"></div>
                    <form ng-submit="login();" class="form-group login-form">
                        <input class="form-control margin-top-25" ng-model="loginData.username" placeholder="Логин" />
                        <input class="form-control margin-top-15" type="password" ng-model="loginData.password" placeholder="Пароль" />
                        <div>
                            <button type="submit" ng-disabled="loading" class="btn btn-primary login-form-button">Вход</button>
                            <button type="button" ng-click="flip()" class="btn btn-primary login-form-button">Регистрация</button>
                        </div>
                        <div ng-hide="message=='' || loading" class="alert alert-danger">{{message}}</div>
                    </form>
            </front>
            <back>
                <div class="title-logo"></div>
                <form ng-submit="signUp();" class="form-group login-form" ng-controller="signUpController">
                    <input class="form-control margin-top-25" ng-model="registration.username" placeholder="Логин"/>
                    <div>
                        <input class="form-control margin-top-15 register-pass" type="password" ng-model="registration.password" placeholder="Пароль" />
                        <input class="form-control margin-top-15 register-pass" type="password" ng-model="registration.confirmPassword" placeholder="Пароль еще раз" />
                    </div>
                    <div>
                        <button type="submit" ng-disabled="loading" class="btn btn-primary login-form-button">Создать</button>
                        <button type="button" ng-click="flip()" class="btn btn-primary login-form-button">Отмена</button>
                    </div>
                    <div ng-hide="message=='' || loading" class="alert alert-danger">{{message}}</div>
                </form>
            </back>
        </flipper>
    </div>
</div>