<link rel="stylesheet" href="../../../Content/fieldEditor.css" />
<div class="container padding-top-20">
    <div class="row">
        <div class="profile-avatar col-sm-4"></div>
        <div class="col-sm-8">
            <fieldset>
                <div class="form-group">
                    <div field-editor="profileInfo.username"></div>
                    <div field-editor="profileInfo.location"></div>
                    <div field-editor="profileInfo.position"></div>
                    <div field-editor="profileInfo.sex"></div>
                    <div field-editor="profileInfo.workPhoneNumber"></div>
                    <div field-editor="profileInfo.cellPhoneNumber"></div>
                </div>
            </fieldset>
        </div>
    </div>
    <h2>{{name}}</h2>

</div>