<div class="container padding-top-20">
    
    <div ng-show="task">
        <div class="row">
            <div class="col-md-4 col-sm-4"><b>Отправил: </b>{{task.senderName}}</div>
            <div class="col-md-4 col-sm-4 text-center left-if-small"><b>Адресована: </b>{{task.assignDateTime | date: 'dd.MM.yyyy HH:mm'}}</div>
            <div class="col-md-4 col-sm-4 text-right left-if-small"><b>Выполнить до: </b>{{task.deadline | date: 'dd.MM.yyyy'}}</div>
        </div>
        <div class="panel panel-primary margin-top-20">
            <div class="panel-heading">Заявка #{{task.id}}</div>
            <div class="panel-body">{{task.text}}</div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <b>Статус: </b>
                <span ng-style="getStatusLabelStyle(task.completeDateTime, task.acceptCompleteDateTime)"><b>{{task.acceptCompleteDateTime ? 'Подтверждена ' + (task.acceptCompleteDateTime | date: 'dd.MM.yyyy HH:mm') : (task.CompleteDateTime ? 'Выполнена ' + (task.completeDatetime | date: 'dd.MM.yyyy HH:mm') : 'Не выполнена')}}</b></span>
            </div>
            <div class="col-md-4 col-sm-4 text-center left-if-small"><b>Приоритет: </b>{{task.priorityName}}</div>
            <div class="col-md-4 col-sm-4 text-right">
                <button class="btn btn-primary widht-120 "><span class="glyphicon glyphicon-ok"></span> &nbsp;Выполнено</button>
            </div>
        </div>
        <div class="comments-block form-group margin-top-20">
            <div>
                <label class="margin-bottom-0">Комментарии:</label>
                <div class="no-comments" ng-show="comments.length == 0">Комментариев нет</div>
                <div ng-repeat="comment in comments" class="comment-container">
                    <div class="comment-author">{{comment.authorName}}</div>
                    <div class="comment-date">{{comment.commentDate | date: "dd.MM.yyyy HH:mm"}}</div>
                    <div class="comment-text">{{comment.commentText}}</div>
                </div>
            </div>
            <div class="new-comment form-group margin-top-25">
                <label for="new-comment">Новый комментарий:</label>
                <textarea ng-model="newComment" class="form-control textarea-maxwidth" rows="5" id="new-comment" ng-disable="addingComment"></textarea>
                <div class="right-button">
                    <button type="button" id="addCommentBtn" class="btn btn-default widht-120" ng-disabled="!newComment || addingComment" ng-click="addComment();">{{addButtonText}}</button>
                </div>
            </div>

        </div>
        <div class="margin-bottom-25">
            <span class="glyphicon glyphicon-arrow-left back-arrow-glyph"></span>
            <a href="" ng-click="backToList()"> &nbsp;к списку заявок</a>
        </div>
    </div>
</div>