

<spinner name="spinner" show="false"></spinner>
<div class="container-fluid padding-top-20">
    <div>
        <div class="form-group has-feedback has-clear">
            <input class="form-control" type="text" ng-model="filter.Text" />
            <a class="glyphicon glyphicon-remove form-control-feedback form-control-clear" ng-show="filter.Text" ng-click="filter.Text = ''" style="pointer-events: auto; text-decoration: none; cursor: pointer;"></a>
        </div>

        <table ng-table="tableParams" class="table table-bordered table-striped table-condensed">
            <tr ng-repeat="task in $data" ng-click="showTask(task.id)">
                <td data-title="'#'" sortable="'id'">{{task.id}}</td>
                <td data-title="'Текст'" sortable="'text'">{{task.text}}</td>
                <td data-title="'Создал'" sortable="'sender'">{{task.senderName}}</td>
                <td data-title="'Дата назначения'" sortable="'assignDateTime'">{{task.assignDateTime | date: 'dd.MM.yyyy HH:mm'}}</td>
                <td data-title="'Выполнить до'" sortable="'deadline'">{{task.deadline | date: 'dd.MM.yyyy'}}</td>
            </tr>
        </table>
    </div>
</div>

