<div class="container-fluid padding-top-20">

    <div class="form-group has-feedback has-clear">
        <input class="form-control margin-top-bottom-15" type="text" ng-model="filter.Text" />
        <a class="glyphicon glyphicon-remove form-control-feedback form-control-clear" ng-show="filter.Text" ng-click="filter.Text = ''" style="pointer-events: auto; text-decoration: none; cursor: pointer;"></a>
    </div>
    <table ng-table="tableParams" class="table table-bordered table-striped table-condensed">
        <tr ng-repeat="task in $data" ng-click="showTask(task.id)">
            <td data-title="'#'" sortable="'id'">{{task.id}}</td>
            <td data-title="'Текст'" sortable="'text'">{{task.text}}</td>
            <td data-title="'Создатель'" sortable="'sender'">{{task.senderName}}</td>
            <td data-title="'Дата создания'" sortable="'createDateTime'">{{task.createDateTime | date: 'dd.MM.yyyy HH:mm'}}</td>
        </tr>
    </table>

</div>